name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Download chezmoi
      run: "sh -c "$(curl -fsLS get.chezmoi.io)""

    - name: Chezmoi apply
      run: "./bin/chezmoi init --apply $GITHUB_USERNAME ngoldack"

    - name: Chezmoi verify
      run: "./bin/chezmoi verify"